[project]
name = "team01-1-session04"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "dotenv>=0.9.9",
    "gql>=3.5.3",
    "specklepy>=3.2.3",
]
